/* Sidebar */
#sidebar {
    width: 250px;
    transition: all 0.3s ease;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #343a40;
    overflow-y: auto;
}

#sidebar img {
    max-width: 100%;
    margin-bottom: 1rem;
}

#sidebar h2 {
    font-size: 1.5rem;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 1rem;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

#sidebar ul li a:hover, #sidebar ul li a.active {
    background-color: #495057;
}

/* Estilo del main */
main {
    margin-left: 270px; /* Espacio para el sidebar */
    padding: 2rem;
    background-color: #f4f4f4;
    position: relative;
    z-index: 1;
}

/* Ajuste del tamaño de las imágenes dentro de las cards */
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 768px) {
    #sidebar {
        transform: translateX(-100%);
        width: 80%; /* Sidebar toma un 80% en móviles */
    }

    #sidebar.open {
        transform: translateX(0);
    }

    main {
        margin-left: 0;
        padding: 2rem;
    }

    #toggle-sidebar {
        z-index: 1100;
    }
}
