/* Estilos del sidebar */
#sidebar {
    width: 250px; /* Ancho del sidebar en pantallas grandes */
    transition: all 0.3s ease;
    height: 100vh;
}

#sidebar.open {
    transform: translateX(0); /* Mostrar el sidebar */
}

@media (max-width: 768px) {
    #sidebar {
        transform: translateX(-100%); /* Ocultamos el sidebar fuera de la pantalla */
    }

    #sidebar.open {
        transform: translateX(0); /* Cuando el sidebar está abierto */
    }

    /* Ajustamos el tamaño del contenido cuando el sidebar está oculto */
    main {
        margin-left: 0; /* El contenido toma todo el ancho */
        width: 100%;
        transition: margin-left 0.3s ease;
    }

    /* Cuando el sidebar está visible, el contenido se ajusta */
    #sidebar.open + main {
        margin-left: 250px; /* Desplazamos el contenido cuando el sidebar está abierto */
    }

    #toggle-sidebar {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1100; /* Aseguramos que el botón esté por encima del contenido */
        border: none;
        background-color: black;
    }

    .navbar-toggler-icon {
        width: 30px;
        height: 3px;
        background-color: black;
        display: block;
        margin: 5px 0;
    }
}

#sidebar img {
    max-width: 100%;
    margin-bottom: 1rem;
}

#sidebar h2 {
    font-size: 1.5rem;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 1rem;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

#sidebar ul li a:hover, #sidebar ul li a.active {
    background-color: #34495e;
}

/* Estilo del main */
main {
    margin-left: 270px; /* Espacio para el sidebar, ligeramente más ancho que el sidebar para evitar el solapamiento */
    padding: 2rem;
    background-color: #f4f4f4;
    position: relative;
    z-index: 1; /* Asegura que el contenido principal no se superponga al sidebar */
}

/* Ajuste del tamaño de las imágenes dentro de las cards */
.card-img-top {
    width: 100%; /* La imagen cubre todo el ancho del contenedor */
    height: 200px; /* Aumentamos la altura para que sea más prominente */
    object-fit: cover; /* Ajustar la imagen dentro del contenedor sin distorsión */
}
